{% extends "icbl/views/templates/home/base.html" %}

{% block content %}

<script>
    var vnis='{{user}}';
    var vkat='{{kategori}}';
    var ns=[];
    {% for vns in nsoal %}
        ns.push({{vns}});
    {% endfor %}
    var no=1;
    var jsoal={{data.jsoal}};
    var jwaktu={{data.waktu}}*60;
    //var jwaktu=10;
    var kode='{{data.kode}}';
    var jwb =[];
    for (i=0;i<jsoal;i++){
        jwb[i]="-";
    }
    localStorage.kat=vkat;
    localStorage.nis=vnis;
    localStorage.ns=JSON.stringify(ns);
    localStorage.jsoal=jsoal;
    localStorage.jwaktu=jwaktu;
    localStorage.jwb=JSON.stringify(jwb);
    if (vkat == "1") {localStorage.kode={{data.kode}};
    } else {localStorage.kode=kode;};
    if (vkat == "1") {localStorage.kodesoal={{data.kode}};
    } else {localStorage.kodesoal='{{data.kodesoal}}';};
    if (vkat == "1"){localStorage.id='{{data.id}}';} else {localStorage.id='1';};

    function save_ls(){
       localStorage.jwaktu=jwaktu;
       localStorage.jwb=JSON.stringify(jwb);
    }

    function wDOM(id,cnt){
        document.getElementById(id).innerHTML=cnt;
    }

    function func(jw){
        var vno=no-1;
        var so="o"+vno;
        var cnt=no+" ("+jw+")";
        wDOM(so,cnt);
        jwb[vno]=jw;
        save_ls();
    }

    function get_resp(urla,funct)
            {
            var xmlhttp;
            if (window.XMLHttpRequest)
              {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
              }
            else
              {// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
              }
            xmlhttp.onreadystatechange=function()
              {
              if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    funct(xmlhttp.responseText);
                }
              }
            xmlhttp.open("GET",urla,true);
            xmlhttp.send();
            }

      function get_soal(urla)
            {
            var xmlhttp;
            if (window.XMLHttpRequest)
              {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
              }
            else
              {// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
              }
            xmlhttp.onreadystatechange=function()
              {
              if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                document.getElementById("soal").innerHTML=xmlhttp.responseText;
                if (jwb[no-1] !== "-"){
                    document.getElementById(jwb[no-1]).checked=true;
                    }
                }
              }
            xmlhttp.open("GET",urla,true);
            xmlhttp.send();
            }

     function get_soal1(urla) {
        var scnt='';
        document.getElementById("soal").innerHTML='<div><img src='+urla+'></div>';
        scnt+='<div><button type="submit" onClick=func("A")>A</button>';
        scnt+='<button type="submit"  onClick=func("B")>B</button>';
        scnt+='<button type="submit"  onClick=func("C")>C</button>';
        scnt+='<button type="submit"  onClick=func("D")>D</button>';
        //scnt+='<button type="submit"  onClick=func("E")>E</button>';
        scnt+='<button type="submit"  onClick=func("-")>-</button></div>';
        document.getElementById("pilihan1").innerHTML=scnt;
     }

    function fback(){
      var vno=0;
      if (no>1){
        no-=1;vno=no-1;
        if (vkat == "1"){
          get_soal1('/proset/'+ '{{data.id}}' + '/' + {{data.kode}} + '/' + ns[vno] + '.png');
        }else{
          get_soal('/soal/'+kode+'/'+ns[vno]+'.html');
        }
        document.getElementById("o"+vno).selected = "true";
        document.getElementById("xdarit").innerHTML = no+" dari "+jsoal;
      }
    }
    function fnext(){
      var vno=0;
      if (no<jsoal){
        no+=1;vno=no-1;
        if (vkat == "1"){
          get_soal1('/proset/'+ '{{data.id}}' + '/' + {{data.kode}} + '/' + ns[vno] + '.png');
        }else{
          get_soal('/soal/'+kode+'/'+ns[vno]+'.html');
        }
        document.getElementById("o"+vno).selected = "true";
        document.getElementById("xdarit").innerHTML = no+" dari "+jsoal;
      }
    }
    function ganti_nomer(){
        var vno=document.getElementById("sel_no").value;
        no=parseInt(vno)+1;
        if (vkat == "1"){
          get_soal1('/proset/'+ '{{data.id}}' + '/' + {{data.kode}} + '/' + ns[no-1] + '.png');
        }else{
          get_soal('/soal/'+kode+'/'+ns[no-1]+'.html');
        }
        document.getElementById("o"+vno).selected = "true";
        document.getElementById("xdarit").innerHTML = no+" dari "+jsoal;
    }
    function habis_waktu() {
        var vby='<button onClick="simpan()">KIRIM</button>';
        var vbn='<a href="/"><button>BATAL</button></a>';
        taktif(true);
        wDOM('pesan','<span>Waktu Habis !</span><br><span>Klik tombol KIRIM untuk mengirim jawaban ke server, atau BATAL jika tidak mau mengirim ke server!</span>');
        wDOM('ya_button',vby);
        wDOM('no_button',vbn);
    }

    function pewaktu(wkt){
        var myTimeout = setTimeout(habis_waktu, (wkt*1000)+2000);
        var myVar = setInterval(countdown, 1000);

        function countdown(){
            var jam=0,sjam=0,mnt=0,dtk=0;
            var str_waktu="";
            var swaktu='';
            jam=Math.floor(jwaktu/3600);
            sjam=jwaktu % 3600;
            mnt=Math.floor(sjam/60);
            dtk=sjam % 60;
            str_waktu=jam+":"+mnt+":"+dtk;
            wDOM('waktu',str_waktu);
            jwaktu-=1;

            if ((jwaktu % 60) == 0){
                 save_ls();
            }
            if (jwaktu <= -1){
                clearInterval(myVar);
            }
        }
    }

    function taktif(bol){
        document.getElementById("back_button").disabled=bol;
        document.getElementById("next_button").disabled=bol;
        document.getElementById("sls_button").disabled=bol;
        document.getElementById("sel_no").disabled=bol;
    }

    function selesai(){
        var vby='<button onClick="simpan()">YA</button>';
        var vbn='<button onClick="batal()">TIDAK</button>';
        taktif(true);
        wDOM('pesan',"Selesai mengerjakan Try Out ?");
        wDOM('ya_button',vby);
        wDOM('no_button',vbn);
    }

    function batal(){
        taktif(false);
        wDOM('pesan',"");
        wDOM('ya_button',"");
        wDOM('no_button',"");
    }

    function simpan(){
        var jwsem=[];
        var vurl="";
        for (i=0;i<jsoal;i++){
            jwsem[ns[i]-1]=jwb[i];
        }
        var vjwb=jwsem.toString();
        vjwb=vjwb.replace(/,/g, "");
        if (vkat == "1"){
          vurl="/simpan/"+{{data.kode}}+"/"+vjwb+"/"+vnis+"/"+vkat;
        }else{
          vurl="/simpan/"+kode+"/"+vjwb+"/"+vnis+"/"+vkat;
        }
        taktif(true);
        wDOM('pesan',"Tunggu.... lagi memproses data !");
        get_resp(vurl,res_pesan);
        //wDOM('title',vjwb);
    }

    function res_pesan(data){
        var vby='<a href="/logout"><button>Logout</button></a>';
        var vbn='<a href="/"><button>Home</button></a>';
        var vdata=JSON.parse(data);
        if (vdata.nilai == null){
           wDOM('pesan', 'Gagal Simpan Data ! Coba lagi dengan menekan tombol Selesai');
           taktif(false);
           wDOM('ya_button',"");
           wDOM('no_button',"");
        }else {
           wDOM('pesan', 'Data telah disimpan di server. Nilai Tryout Kamu:'+vdata.nilai);
           wDOM('ya_button',vby);
           wDOM('no_button','');
           localStorage.clear();
        }
    }

</script>

<div class="panel panel-primary">
   <div class="panel-heading">
     <h6 class="text-center" id="title">
       UJIAN BERBASIS KOMPUTER
     </h6>
  </div>
  <div class="panel-body">
    <h6 class="text-center">
      Selamat Bekerja {{nama}}
    </h6>
  </div>
</div>
   <table>
       <tr bgcolor="#333333" style="color:#FFFFFF">
          <td align="left">
           <select id="sel_no" onchange="ganti_nomer()">
               <script>
                   for (i=0;i<jsoal;i++){
                       document.write('<option id="o'+i+'" value='+i+'>'+(i+1)+' ('+jwb[i]+')</option>');
                   }
               </script>
           </select>
              <span id="xdarit" style="color:red">1 dari {{data.jsoal}}</span>
         </td>
         <td align="right">
             <span>Sisa waktu: </span>
             <b id="waktu" size="20"></b>
         </td>
       </tr>
   </table>

   <div id="soal"></div>
   <div id="pilihan1"></div>
   <div><h3 id="jawab"></h3></div>

<script>
    if (vkat == "1") {
      get_soal1('/proset/'+ '{{data.id}}' + '/' + {{data.kode}} + '/' + ns[0] + '.png');
    } else {
      get_soal('/soal/'+kode+'/'+ns[0]+'.html');
    }
    pewaktu(jwaktu);
</script>
<table align="center">
    <tr>
	  <td align="center" valign="middle">
          <button id="back_button" name="button_back" style="height:50px; width:80px" onClick="fback()">BACK</button>
		  <button id="next_button" name="button_next" style="height:50px; width:80px" onClick="fnext()">NEXT</button>
          <br><br>
          <button id="sls_button" style="height:50px; width:100px" onClick="selesai()">SELESAI</button>
	  </td>
	</tr>
    <tr>
        <td align="center">
            <b id="pesan"></b><br />
            <span id="ya_button"></span><span id="no_button"></span>
        </td>
    </tr>
</table>
{% endblock %}

